:root {
	font-size: 10/16;
}

* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background: #fff;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	background-color: fff;
	border: 1px solid rgba(128, 128, 128, 0.708);
	border-radius: 5px;
	padding: 1rem 1.2rem;
}

.tab-links {
	display: flex;
	gap: 1rem;
	margin-bottom: 1.8rem;
}

.tab-link {
	display: block;
	padding: 0.5rem 1rem;
	color: #0d6efd;
	background-color: transparent;
	border: transparent;
}

.tab-link.active-link {
	background-color: #0d6efd;
	color: #fff;
	border-radius: 2px;
	border: 1px solid rgba(128, 128, 128, 0.751);
}

.tab-content {
	display: none;
	opacity: 0;
	transition: 200ms opacity ease-in-out;
	transition-delay: 200ms;
}

.tab-content h2 {
	margin-bottom: 1.2rem;
}

.tab-content.active-tab {
	display: block;
	opacity: 1;
	transition-delay: 0ms;
}
